:root {
  --white: #ffffff;
  --black-1: #202020;
  --primary: #1b90fc;
  --grey: #929292;
  --headline1: 700 2.5rem / normal Roboto Condensed;
  --subtitle1: 700 1.625rem/1.5rem Roboto Condensed;
  --button: 700 0.875rem/1rem Roboto;
  --headline2: 700 1.5rem / normal Roboto Condensed;
  --body1-regular: 400 1rem/1.5rem Roboto;
  --body1-bold: 700 1rem/1.5rem Roboto;
  --body2-bold: 700 0.875rem/1.5rem Roboto;
  --body2-regular: 400 0.875rem/1.5rem Roboto;
  --caption-regular: 400 0.75rem/1.5rem Roboto;
  --caption-bold: 700 0.75rem/1.5rem Roboto;
}

* {
  color: var(--white);
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}

.wrapper {
  max-inline-size: 1664px;
  margin: auto;
  overflow: hidden;
}

.hero {
  background-color: var(--black-1);
  display: inline-block;
  padding-block-end: 5rem;
  clip-path: polygon(0 0, 100% 0, 100% 91%, 0 100%);
}

.card {
  margin-block-start: 2.5rem;
  margin-inline: 4rem;
}

.hero-content h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-block: 1.5rem;
  line-height: 2.93rem;
}
.hero-content p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-block-end: 1.5rem;
}

.hero-content {
  display: inline-block;
}

.img {
  max-width: 100%;
  height: auto;
}

.hero button {
  margin-block-start: 1.58rem;
  background-color: var(--primary);
  font-size: 0.92rem;
  text-align: center;
  text-transform: uppercase;
  padding-block: 1rem;
  padding-inline: 17.31rem;
  border: none;
  border-radius: 3.29rem;
  cursor: pointer;
  font-weight: bold;
  line-height: 1rem;
}

@media screen and (min-width: 48rem) {
  .hero-content h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-block-end: 0.5rem;
  }
  .hero {
    padding: 0;
    background-image: url(../imges/lokii.png);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8rem), 0% 100%);
  }
  .hero::before {
    content: "";
    inline-size: 50%;
    display: block;
    background-color: var(--black-1);
    position: absolute;
    inset-block: 0;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  }
  .hero-content {
    display: flex;
    block-size: 48rem;
    align-items: center;
  }
  .hero-content img {
    display: none;
  }
  .card {
    max-inline-size: 26.74rem;
    max-block-size: 21.89rem;
    z-index: 1;
    border: none;
  }
  .card img {
    display: block;
    margin-block-end: 1.58rem;
  }
  .hero button {
    margin-block-start: 1.58rem;
    background-color: var(--primary);
    font-size: 0.92rem;
    text-align: center;
    text-transform: uppercase;
    padding-block: 1rem;
    padding-inline: 2rem;
    border: none;
    border-radius: 3.29rem;
    cursor: pointer;
    font-weight: bold;
    line-height: 1rem;
  }
}
